mediapipe==0.10.13
opencv-python~=4.11.0.86
fastapi~=0.115.12
uvicorn[standard]~=0.34.0
fastapi[standard]
pydantic-settings
python-multipart
numpy~=1.26.4
pymongo~=4.11.3
websockets
motor
python-multipart
protobuf
grpcio-tools
grpcio
python-dotenv~=1.1.0
pydantic~=2.11.1
